.home{
    margin-top: 100px;
}

.text-container{
    max-width: 60%;
    background-color: var(---color-lightBlue);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: var(---large-gap);
    border-radius: 5px;
    position: relative;
    animation: text-appear 1s linear;
}

@keyframes text-appear{

    from{
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
        scale: 0;
    }
    to{
        opacity: 1;
        clip-path: inset(0 0 0 0);
        scale: 1;
    }
}

.img-container{
    background-color: var(---color-lightBlue);
    border-radius: 5px;
    max-width: 40%;
    padding: 20px;
    animation: appear 1s linear forwards;
    transform-origin: center;

}

@keyframes appear{
    from{
        opacity: 0;
        transform: scale(0.5);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}


.img-container img{
    width: 100%;
    filter: drop-shadow(0 0 10px var(---color-secondry));
}

h1{
    font-size: 2.5rem;
}

h1 .name{
    font-size: 3rem;
    color: var(---color-secondry);
}

p{
    font-size: 1.2rem;


}

.hire-btn{
    font-size: 1rem;
    padding: 10px 18px;
    border: none;
    outline: none;
    /* background-color: var(---color-lightBlue); */
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s linear;
    position: relative;
}

.hire-btn span, .hire-btn .icon {
  transition: opacity 0.3s ease;
}

.hire-btn .icon{
    font-size: 1rem;
    font-weight: 500;
    display: none;
    color: #000;
    padding: 0 21px;
    transition: all 0.5s linear;
}

.hire-btn:hover::after{
    content: "Download Resume";
    font-size: 0.8rem;
    padding: 2px 10px;
    position: absolute ;
    color: black;
    width: auto;
    bottom: -100%;
    transition: all 0.3s ease;
    border-radius: 5px;
    border: 1px solid var(---color-secondry);

}

.hire-btn:hover span{
    display: none;
    opacity: 0;
}

.hire-btn:hover .icon{
    display: block;
    opacity: 1;
}

.hire-btn:hover{
    color: #fff;
}


@media screen and (max-width:800px) {
    .text-container{
        max-width: 80%;
    }

    .img-container{
        display: none;
    }
}

@media screen and (max-width:400px) {
    .text-container{
        max-width: 90%;
        padding: 20px;
    }
}