footer{
    background-color: rgb(17, 23, 29);
    text-align: center;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

footer h1{
    color: var(---color-primary);
}

footer .link-container{
    width: clamp(200px, 100%, 400px);
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

footer .link-container a{
    font-size: 1rem;
    color: #d3d3d3;
    text-decoration: none;
    padding-inline: 8px;
}


.social-links button{
    border: none;
    margin-right: 1rem;
    font-size: 1.2rem;
    background-color: #fff;
    padding: 14px 15px 10px 15px;
    cursor: pointer;
}

.social-links .dribble{
    color: var(---color-secondry);
}

.social-links button:hover{
    color: #fff;
    transform: translateY(-20px);
    transition-duration: 1s;
}
.social-links .dribble:hover{
    background-color: var(---color-secondry);
}

footer .link-container :not(:last-child){
    border-right: 1px solid var(---color-primary);
}

.link-container a:hover{
    color: var(---color-primary);
}

footer p{
    color: var(---color-primary);
}

